In [ ]:
#get directory path
import os
os.getcwd()

In [ ]:
os.chdir('C:\\Users\\rajar\\Coding for Cornell\\Starwatching_Calculations_for_Capstone')
path = os.getcwd()
path

In [30]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
%matplotlib inline

In [10]:
raw_data = pd.read_csv('data.csv', header=None)
raw_data.head(52)

                       0            1            2
0                  State  LimitingMag  BortleClass
1                Alabama         1.97            9
2                 Alaska         5.00            7
3                Arizona         3.28            8
4               Arkansas         3.20            8
5             California         2.28            9
6               Colorado         3.23            8
7            Connecticut         2.45            9
8               Delaware         4.00            8
9   District of Columbia         3.50            8
10               Florida         2.19            9
11               Georgia         2.54            9
12                Hawaii         2.71            9
13                 Idaho         3.22            8
14              Illinois         1.53            9
15               Indiana         3.00            9
16                  Iowa         1.50            9
17                Kansas         2.64            9
18              Kentucky         3.41            8
19             Louisiana         2.14            9
20                 Maine         4.21            7
21              Maryland         2.25            9
22         Massachusetts         2.62            9
23              Michigan         2.97            9
24             Minnesota         2.83            9
25           Mississippi         2.45            9
26              Missouri         3.20            8
27               Montana         1.88            9
28              Nebraska         2.83            9
29                Nevada         5.38            6
30         New Hampshire         2.45            9
31            New Jersey         3.34            8
32            New Mexico         4.61            7
33              New York         2.25            9
34        North Carolina         2.48            9
35          North Dakota         5.50            6
36                  Ohio         2.15            9
37              Oklahoma         2.73            9
38                Oregon         2.45            9
39          Pennsylvania         2.58            9
40          Rhode Island         0.94            9
41        South Carolina         2.38            9
42          South Dakota         5.17            6
43             Tennessee         2.56            9
44                 Texas         2.74            9
45                  Utah         3.76            8
46               Vermont         3.55            8
47              Virginia         3.19            8
48            Washington         2.11            9
49         West Virginia         3.51            8
50             Wisconsin         2.84            9
51               Wyoming         4.67            7

In [27]:
raw_data = pd.read_csv('moon_phase_data.csv', header=None)
raw_data.head(63)

                       0      1
0                   time  phase
1   01 Jan 2025 00:00 UT   1.47
2   01 Jan 2025 01:00 UT   1.57
3   01 Jan 2025 02:00 UT   1.68
4   01 Jan 2025 03:00 UT   1.79
5   01 Jan 2025 04:00 UT    1.9
6   01 Jan 2025 05:00 UT   2.02
7   01 Jan 2025 06:00 UT   2.15
8   01 Jan 2025 07:00 UT   2.27
9   01 Jan 2025 08:00 UT   2.41
10  01 Jan 2025 09:00 UT   2.54
11  01 Jan 2025 10:00 UT   2.68
12  01 Jan 2025 11:00 UT   2.82
13  01 Jan 2025 12:00 UT   2.97
14  01 Jan 2025 13:00 UT   3.12
15  01 Jan 2025 14:00 UT   3.28
16  01 Jan 2025 15:00 UT   3.44
17  01 Jan 2025 16:00 UT    3.6
18  01 Jan 2025 17:00 UT   3.77
19  01 Jan 2025 18:00 UT   3.94
20  01 Jan 2025 19:00 UT   4.12
21  01 Jan 2025 20:00 UT    4.3
22  01 Jan 2025 21:00 UT   4.48
23  01 Jan 2025 22:00 UT   4.67
24  01 Jan 2025 23:00 UT   4.86
25  02 Jan 2025 00:00 UT   5.05
26  02 Jan 2025 01:00 UT   5.25
27  02 Jan 2025 02:00 UT   5.45
28  02 Jan 2025 03:00 UT   5.66
29  02 Jan 2025 04:00 UT   5.87
30  02 Jan 2025 05:00 UT   6.09
31  02 Jan 2025 06:00 UT   6.31
32  02 Jan 2025 07:00 UT   6.53
33  02 Jan 2025 08:00 UT   6.75
34  02 Jan 2025 09:00 UT   6.98
35  02 Jan 2025 10:00 UT   7.22
36  02 Jan 2025 11:00 UT   7.45
37  02 Jan 2025 12:00 UT    7.7
38  02 Jan 2025 13:00 UT   7.94
39  02 Jan 2025 14:00 UT   8.19
40  02 Jan 2025 15:00 UT   8.44
41  02 Jan 2025 16:00 UT    8.7
42  02 Jan 2025 17:00 UT   8.96
43  02 Jan 2025 18:00 UT   9.22
44  02 Jan 2025 19:00 UT   9.49
45  02 Jan 2025 20:00 UT   9.76
46  02 Jan 2025 21:00 UT  10.03
47  02 Jan 2025 22:00 UT  10.31
48  02 Jan 2025 23:00 UT  10.59
49  03 Jan 2025 00:00 UT  10.88
50  03 Jan 2025 01:00 UT  11.17
51  03 Jan 2025 02:00 UT  11.46
52  03 Jan 2025 03:00 UT  11.75
53  03 Jan 2025 04:00 UT  12.05
54  03 Jan 2025 05:00 UT  12.35
55  03 Jan 2025 06:00 UT  12.66
56  03 Jan 2025 07:00 UT  12.97
57  03 Jan 2025 08:00 UT  13.28
58  03 Jan 2025 09:00 UT   13.6
59  03 Jan 2025 10:00 UT  13.92

In [34]:

api_key = "8d42870d738b8d131b7990b5fae19d78"
city = "Ithaca"
url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric"

response = requests.get(url)
data = response.json()

# Print the cloud cover (0 to 100%)
cloud_cover = data.get("clouds", {}).get("all", "N/A")
print(f"Cloud Cover in {city}: {cloud_cover}%")

Cloud Cover in Ithaca: 20%