In [1]:
#get directory path
import os
os.getcwd()

'C:\\Users\\Yrelav\\Documents\\Capstone_project\\Arvind'

In [ ]:
os.chdir('C:\\Users\\rajar\\Coding for Cornell\\Starwatching_Calculations_for_Capstone')
path = os.getcwd()
path

In [3]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
%matplotlib inline

In [5]:
# Read in dataframes
df1 = pd.read_csv('data/PopulationDensity.csv')
df2 = pd.read_csv('data/state_data.csv')

# Change column names to match on 'State' column
df1.columns = ['Ranking', 'State', 'Population Density']

# Merge df1 and df2 on the 'State' column (inner join by default)
test_df = pd.merge(df1, df2, on='State')

test_df.head()

   Ranking          State  Population Density  LimitingMag  BortleClass
0        1     New Jersey                1259         3.34            8
1        2   Rhode Island                1055         0.94            9
2        3  Massachusetts                 894         2.62            9
3        4    Connecticut                 749         2.45            9
4        5       Maryland                 634         2.25            9